@model ThietBiBosch.Database.TaiKhoan

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>AddUser</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group d-none">
        @Html.LabelFor(model => model.MaTaiKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaTaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaTaiKhoan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenDangNhap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.NhanVien != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.MaNhanVien, "TenNhanVien", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12">
                @Html.DropDownListFor(model => model.MaNhanVien,
                    (List<SelectListItem>)ViewBag.NhanVien, htmlAttributes: new { @class = "form-control", @required = "" })
                @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    @if (ViewBag.GetQuyen != null)
    {
        <div class="form-group">
            <label>Chọn quyền</label>
            <div class="col-md-6 col-sm-12">
                <select name="quyen">
                    @foreach(var item in ViewBag.GetQuyen as List<ThietBiBosch.Database.PhanQuyen>)
                    {
                        <option value="@item.id">@item.TenQuyen</option>
                    }
                </select>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "NhanVien")
</div>

